[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "thirdparty/soundtouch"]
	path = thirdparty/soundtouch
	url = https://codeberg.org/soundtouch/soundtouch.git
[submodule "thirdparty/speexdsp"]
	path = thirdparty/speexdsp
	url = https://github.com/xiph/speexdsp
[submodule "thirdparty/pffft"]
	path = thirdparty/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
